@tailwind base;
@tailwind components;
@tailwind utilities;

.first-form-button{
  @apply  bg-red-500 hover:bg-red-600 rounded-md shadow-sm hover:cursor-pointer text-white p-3 font-bold text-lg my-1 transition-all hover:translate-x-1 hover:scale-105 ease-in-out duration-150 active:bg-red-900  hover:shadow-md
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
